<%= javascript_include_tag :events %>

<%= simple_form_for event, 
  wrapper: :inline_form,
  defaults: { wrapper_html: { class: 'col-lg-3' } },
  html: { class: "row g-3 align-items-center" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>
  <%= f.input :name %>
  <%= f.input :date, :wrapper_html => { :class => 'col-lg-5' }  %>
  <%= f.input :link %>
  <%= f.input :description, :wrapper_html => { :class => 'col-lg-11' }  %>
  <%= f.association :reach %>
  <%= f.association :game %>
  <%= f.association :ruling %>

  <h5> Jugadores </h5>
  <div class="col-lg-4">
  <%= select "", "", Player.all.collect {|p| [ p.name || p.nick, p.id ] }, {}, { id: "player_list" , class: "form-select"} %>
  </div>


  <%= button_tag "Agregar jugador", id:"add_player_event", type: 'button', class: "btn btn-dark col-lg-4" %>

  <div>
  <div class="col-lg-3">
  <table id="event_players" class="table table-bordered table-striped">
    <tbody>
    </tbody>
  </table>
  </div>
  </div>

  <%= f.button :submit, class: "col-lg-4" %>
<% end %>
