<%= simple_form_for event, 
  wrapper: :inline_form,
  defaults: { wrapper_html: { class: 'col-lg-2' } },
  html: { class: "row g-3 align-items-center" },
  wrapper_mappings: {
    boolean: :inline_boolean
  } do |f| %>
  <%= f.input :name, :wrapper_html => { :class => 'col-lg-3' } %>
  <%= f.input :date, :wrapper_html => { :class => 'col-lg-5' } %>
  <div></div>
  <%= f.input :link, :hint => "Challonge, smash.gg, etc...",  :wrapper_html => { :class => 'col-lg-7' }  %>
  <%= f.input :description, as: :text, :wrapper_html => { :class => 'col-lg-7' }, :input_html => {:rows => 2}  %>
  <div></div>
  <%= f.association :reach, include_blank: false %>
  <%= f.association :game, include_blank: false %>
  <%= f.association :ruling, include_blank: false %>
  <%= f.association :event_status, include_blank: false %>
  <div></div>
  <%= f.button :submit, "Guardar", class: "col-lg-4" %>
<% end %>
