<p id="notice"><%= notice %></p>

<h1><%= @title %></h1>

<%= link_to 'Crear evento', new_event_path, class: "btn btn-dark" %>

<div class="table-container">
  <table class="table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Jugadores</th>
        <th>Tipo</th>
        <th>Juego</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each_with_index do |event, index| %>
        <tr>
          <td><button aria-expanded="false" 
            aria-controls="accordion<%=index%>" 
            data-bs-target="#accordion<%=index%>" 
            data-bs-toggle="collapse" 
            class="accordion-toggle btn btn-dark btn-xs">
              <%= octicon "eye", :height => 16, :class => "white-icon" %>
          </button></td>
          <td><%= event.name %></td>
          <td><%= event.player_summary %></td>
          <td><%= event.ruling.name %></td>
          <td><%= event.game.name %></td>
          <td><%= event.event_status.name %></td>
        </tr>

        <tr>
          <td colspan="10" class="hiddenRow">
              <div id="accordion<%=index%>" class="accordion-body collapse">
                <% unless event.description.empty? then %>
                  <%= event.description %>
                  <br/>
                  <br/>
                <% end %>
                Fecha: 
                <%= event.date %>
                <br/>
                <br/>
                <%= link_to 'Administrar Jugadores', add_players_path(event.id), class: "btn btn-sm btn-dark" %>
                <%= link_to 'Editar', edit_event_path(event), class: "btn btn-sm btn-dark" %>
                <%= link_to 'Eliminar', event, method: :delete, data: { confirm: '¿Seguro weon? Esto es irreversible.' }, class: "btn btn-sm btn-dark" %>
      

                <% unless event.link.empty? then %>
                  <br/>
                  <br/>
                  <%= link_to "Link del evento", event.link %>
                <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

