<p id="notice"><%= notice %></p>

<h1>Jugadores</h1>

<%= link_to 'Crear jugador', new_player_path, class: "btn btn-dark" %>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nick</th>
        <th>Equipo</th>
        <% unless browser.device.mobile? then %>
          <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.nick %></td>
          <td><%= player.team.name %></td>
        <% if browser.device.mobile? then %>
          </tr>
          <tr class="extra_row">
        <% end %>
          <td><%= link_to 'Ver eventos', events_of_player_url(player), class: "btn btn-sm btn-dark" %></td>
          <td><%= link_to 'Editar', edit_player_path(player), class: "btn btn-sm btn-dark" %></td>
          <td><%= link_to 'Eliminar', player, method: :delete, data: { confirm: '¿Seguro weon? Esto es irreversible.' }, class: "btn btn-sm btn-dark" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

