<p id="notice"><%= notice %></p>

<h1>Rulings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rulings.each do |ruling| %>
      <tr>
        <td><%= ruling.name %></td>
        <td><%= link_to 'Show', ruling %></td>
        <td><%= link_to 'Edit', edit_ruling_path(ruling) %></td>
        <td><%= link_to 'Destroy', ruling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruling', new_ruling_path %>
